<a href="https://colab.research.google.com/github/ColdmaterL/Machine_Learning_Titanic/blob/main/TitanicExercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lendo os dados do Titanic

In [ ]:
import pandas as pd
import numpy as np

titanicdata = pd.read_csv("/content/titanic.csv")

titanicdata

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#Tirando Ticket, Cabin, Embarked, Name, Id

In [ ]:
titanicdata = titanicdata.drop(columns = ['Cabin', 'Ticket', 'Name', 'PassengerId'])

# Tirando os valores nulos na coluna 'Age' e substituindo eles pela média das idades.

In [ ]:
titanicdata['Embarked'] = titanicdata['Embarked'].fillna('S')
titanicdata['Age'] = titanicdata['Age'].replace(np.NaN, titanicdata['Age'].mean())

#Normalizando a base de dados

In [ ]:
Xn = titanicdata.drop(columns = ['Survived'])
Xs = titanicdata.drop(columns = ['Survived'])
X_num = Xs.select_dtypes(include='number') # Pegando so os atributos que tem número
y = titanicdata.Survived

X_norm = (X_num - X_num.min()) / (X_num.max() - X_num.min())
X_std = (X_num - X_num.mean()) / X_num.std()

Xn[X_norm.columns] = X_norm
Xs[X_std.columns] = X_std

#Transformando os atributos não categóricos

In [ ]:
Xn['Sex'] = Xn['Sex'].replace('male', 1)
Xn['Sex'] = Xn['Sex'].replace('female', -1)

Xs['Sex'] = Xs['Sex'].replace('male', 1)
Xs['Sex'] = Xs['Sex'].replace('female', 0)

Xs['Embarked'] = Xs['Embarked'].replace('S', 1)
Xs['Embarked'] = Xs['Embarked'].replace('C', 0)
Xs['Embarked'] = Xs['Embarked'].replace('Q', -1)

Xn['Embarked'] = Xn['Embarked'].replace('S', 1)
Xn['Embarked'] = Xn['Embarked'].replace('C', 0.5)
Xn['Embarked'] = Xn['Embarked'].replace('Q', 0)

#Criando a Árvore de classificação da normalização

In [ ]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(Xn, y, test_size=0.3, random_state=1)
tree = DecisionTreeClassifier()
tree = tree.fit(x_train, y_train)

#Testando a performance da normalização

In [ ]:
y_pred = tree.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print('DecisionTreeClassifier accuracy score with normalazation: {}'.format(accuracy*100))

DecisionTreeClassifier accuracy score with normalazation: 73.88059701492537

#Criando a Árvore de classificação da padronização

In [ ]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(Xs, y, test_size=0.3, random_state=1)
tree2 = DecisionTreeClassifier()
tree2 = tree.fit(x_train2, y_train2)

#Testando a performance da padronização

In [ ]:
y_pred2 = tree.predict(x_test2)
accuracy2 = accuracy_score(y_test2, y_pred2)
print('DecisionTreeClassifier accuracy score with standardization: {}'.format(accuracy2*100))

DecisionTreeClassifier accuracy score with standardization: 75.0